---
title: Fashion page
layout: inner
---
<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <div class="grid clearfix">
            <div class="grid-sizer"></div>
          {% for fashion in site.static_files %}
            {% if fashion.path contains 'images/fashion' %}
              <div class='grid-item'>
                <a href="#"> <img src='{{site.baseurl}}{{ fashion.path }}'> </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>

    </div>
  </div>
</div>
