<nav class="clearfix">
  <div class="mobile-mnu d-md-none d-lg-none clearfix">
    <a class="toggle-mnu" href="#"><span></span></a>
  </div>
  <ul class="sf-menu {{include.navclass}}">
    <li><a href="index.html"
      class="{% if page.url == '/index.html' %}current{% endif %}">Home</a>
    </li>
    <li><a href="main.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Portfolio</a>

        <ul>
          <li>
            <a href="portfolio.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Food</a>
          </li>
          <li><a href="fashion.html" class="{% if page.url == '/fashion.html' %}current{% endif %}">Fashion</a></li>
          <li><a href="">link 3</a></li>
          <li><a href="">link 4</a></li>
        </ul>

    </li>
    <li>
      <a href="about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About Us</a>
    </li>
  </ul>
</nav>
