.centered_block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  // width: 350px
  height: 450px
  margin: auto
  .content
    width: 450px
    height: 450px
    background-color: #f1f1f1
    margin: 0 auto
    background-color: blue
  .item
    text-align: center
  .start_button
    position: relative
    top: 50%
    right: -100px
    margin: 0
    padding: 8px
    background-color: $button
    a
      color: #fff
      text-decoration: none
      text-transform: uppercase
  .short_logo_block
    background-color: $button
    height: 350px
    padding: 40px 70px 0 0
    img
      width: 80%
  .info_block
    position: absolute
    right: 25px
    padding: 10px
    border: 1px solid #000
    bottom: -50px
    background: #fff
    width: 300px
    height: 150px
    span
      font-size: 22px
    ul
      position: absolute
      top: 30%
      left: 15%
      li
        font-size: 20px
        font-weight: bold
  .info_text
    position: absolute
    bottom: 0
    .link_about
      text-transform: uppercase
      color: #f00
      font-weight: bold
