nav
  padding: 0
  float: right
  .sf-arrows .sf-with-ul::after
    border-top-color: #fa7b0a
  .sf-menu
    display: inline-block
    margin: 0
    padding: 0
    position: relative
    li
      background: none
      &:hover
        background: none
  > ul,li
    display: block
    background: #fff!important
    margin: 0
    padding: 10px
    a
      text-decoration: none
      //color: $font_menu
      &:hover,
      &.active
        text-decoration: none
        //color: $blue_col
        //background-color: $yell_col
.toggle-mnu
  display: block
  width: 28px
  height: 28px
  margin-top: 14px
  span:after, span:before
    content: ""
    position: absolute
    left: 0
    top: 9px
  span:after
    top: 18px
  span
    position: relative
    display: block
  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: #000
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
  &.on span
    background-color: transparent
  &.on span:before
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after
    transform: rotate(-45deg) translate(6px, -7px)

.nav
  li
    border: 0 solid red
    text-align: center
    width: 100%
    &:last-child
      padding: 5px
      border: 1px solid #000
      a
        color: #000
        font-size: 13px
        &:hover
          color: $h_menu_last_color
          font-size: 0
        &:hover:after
          content: attr(data-hover)
          font-size: 13px
    a
      color: $menu_color
      text-decoration: none
      display: block
      text-transform: uppercase
      font-weight: bold
      font-size: 50px
      &:hover
        color: $h_menu_color
    &.m_food
      background: url('images/bg_food.png') 100% 100% no-repeat
      background-size: cover
    &.m_beauty
      background: url('images/bg_beauty.png') 100% 100% no-repeat
      background-size: cover
    &.m_item
      background: url('images/bg_items.jpg') 100% 100% no-repeat
      background-size: cover
    &.m_fashion
      background: url('images/bg_fashion.jpg') 100% 100% no-repeat
      background-size: cover
    &.m_portrait
      background: url('images/bg_portraits.jpg') 100% 100% no-repeat
      background-size: cover
ul.about_nav
  width: 50%
  margin: 0 auto
  li
    float: left
    display: block
    width: 30%
    margin: 0 auto
    a
      padding: 0 10px
      display: block
      text-align: center
