.flex_container
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  .f_item
    box-sizing: border-box
    padding: 10px
    flex-basis: 33%
    align-items: stretch
    img
      object-fit: cover
      min-height: 220px
      height: 100%
      width: 100%
.grid
.grid-sizer,
.grid-item
  width: 33.333%
  padding: 1px
.grid-item
  float: left
