@import '_variables.sass'
@import '_settings.sass'
@import '_main.sass'
@import '_nav.sass'
@import '_portfolio.sass'

body
  background: $bg_color
.logo
  float: left
  width: 200px
.red
  border: 1px solid red
